<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vinescout">

    <gazebo reference = "chassis_link">
        <material>Gazebo/Grey</material>  
    </gazebo>

    <gazebo reference = "wheel_left_front_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "wheel_left_rear_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "wheel_right_front_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "wheel_right_rear_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "camera_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "gps_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "lidar_link">
        <material>Gazebo/DarkGrey</material>  
    </gazebo>

    <gazebo reference = "fender_right_link">
        <material>Gazebo/Green</material>  
    </gazebo>

    <gazebo reference = "fender_left_link">
        <material>Gazebo/Green</material>  
    </gazebo>

    <!--ROS control plugin-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

    <!--GPS plugin-->
    <gazebo>
        <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
            <robotNamespace>/</robotNamespace>
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <bodyName>gps_link</bodyName>
            <frameId>gps_link</frameId>
            <topicName>/gps/fix</topicName>
            <velocityTopicName>/gps/fix_velocity</velocityTopicName>
            <drift>0.001 0.001 0.001</drift>
            <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
            <velocityDrift>0.001 0.001 0.001</velocityDrift>
            <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
        </plugin>
    </gazebo>

    <!--IMU plugin-->
    <gazebo reference="imu_link">
        <sensor name='imu_sensor' type='imu'>
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
                <robotNamespace>/</robotNamespace>
                <updateRate>50.0</updateRate>
                <bodyName>imu_link</bodyName>
                <frameName>imu_link</frameName>
                <topicName>imu</topicName>
                <accelDrift>0.005 0.005 0.005</accelDrift>
                <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
                <rateDrift>0.005 0.005 0.005 </rateDrift>
                <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
                <headingDrift>0.005</headingDrift>
                <headingGaussianNoise>0.005</headingGaussianNoise>
            </plugin>
        </sensor>
    </gazebo>

</robot>